* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.tile {
  background-color: #bfbfbf;
  border-radius: 10px;
  border: 1px solid rgb(86, 86, 86);
  height: 5rem;
  width: 5rem;
  transition: transform 0.2s ease;
}
.tile {
  background-color: #bfbfbf;
  border-radius: 10px;
  border: 1px solid rgb(86, 86, 86);
  height: 5rem;
  width: 5rem;
  transition: transform 0.2s ease;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  50% {
    transform: perspective(400px) rotateY(90deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}

.tile.active {
  animation: flip 0.5s ease-in;
  background-color: white;
  transition: background-color 0.3s 0.4s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #67c6b0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2em;
}

.top {
  display: flex;
  justify-content: space-evenly;
  margin: 2em;
}
.score {
  display: flex;
  border: 1px solid black;
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2.5em;
  align-items: center;
  justify-content: center;
}
.scoreboard {
  margin-inline: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: darkcyan; */
}
.p1 {
  background-color: #238090;
  color: white;
}
.draw {
  background-color: #1fc54e;
  color: white;
}
.p2 {
  background-color: #ea5454;
  color: white;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0.5em;
}

label {
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.4em;
}
